
header {
    background-image: url("");
    background-size: cover;
    background-color:grey;
    font-size: 6em;
    font-weight: bold;
    text-align:center;
    border-bottom:10px solid indigo;
    border-radius:10rem;
}
/* button makes it look too much like Aladdin color scheme */
button{
    font-size: 1.5em;
    background-color: purple;
    color: gold;
    border-radius:10rem;
    margin:10px 0px;
}
button:hover {
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: indigo;
  }
 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Stay on the left side */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav label:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #appTitle{
    border-top-left-radius: 0rem ;
    border-top-right-radius: 0rem;
  }
  /* #history{
    color:white;
    text-align: center;
  } */
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
   background-color: black;
    /* background-image: url("./assets/images/purple_paradise.png");
    background-repeat: no-repeat;
    background-size: cover; */
  }
  #search{
    /* background-color:black; */
    background-image:url("./assets/images/clouds.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
  }
#cityName{
  width:20%;
}
/* #cityName:h2 */

#twiceBeforeFooter{
  color:greenyellow;
  font-size: .6em;
}
#beforeFooter{
  background-color: indigo;
  width: 100%;
  height:10px;
}
#green{
background-color: green;
}
#yellow{
  color:black;
background-color:yellow;
}
#red{
  background-color: red;
}
  .wrapper{
    /* opacity: 0.9; */
  }
 
span{
  font-weight:bold;
}
footer{
  background-image: url("./assets/images/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg,black,indigo, #002bff, #7a00ff, #ff00c8);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* properties could be combined to glow-on-hover */
.historyBTN{
  color:rgb(6, 64, 112);
  background-color: grey;
  font-size:.8em;
  border-radius:10rem;
}
.historyBTN:hover{
  background-color: indigo;
  color:gold; 
}

.uvIndex{
  font-weight: bold;

}
#weatherPic{
  background-image: url("./assets/images/clouds.jpg");
 
}
#day5{
  visibility: hidden;
}
#footer{
    /* removed position:fixed; bottom:0; -added position:relative; width and margin-left to previous signature footer*/
     position:relative;
     width:15%;
     margin-left:42.5%;
     text-align:center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-color:gold;
     border-style:solid;
     border-width:2px;
     border-color: rgb(23, 2, 37);
     padding:2px 2px 0px 2px;
 }
 
 
   /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
   @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 